/target
.DS_Store
deploy/kustomize/cert-manager/certs/*
deploy/kustomize/ngrok-operator/chart.yaml
deploy/kustomize/coredns/config.yaml
deploy/kustomize/cicd/pvc.yaml
deploy/kustomize/chess-engine-api/ngrok-ingress.yaml
